*{
    padding: 0;
    margin: 0;
}

:root{
    --theme-primary-color: #18191B;
    --theme-secondary-color: #212225;
    --theme-tertiary-color: #450000;
    --font-primary-color: #F8951D;
    --font-secondary-color: #ffffff;
    --font-tertiary-color: #ECEFF3;
}

body{
    background-color: var(--theme-primary-color);
    color: var(--font-secondary-color);
}

button{
    border-radius: 5px;
}

img{
    width: 100%;
    height: 100%;
}

strong{
    color: var(--font-primary-color);
}

span{
    color: var(--font-primary-color);
}

span>i{
    color: var(--font-primary-color);
}


/*
    Below is CSS design for media bigger than 1200px
    mostly desktops and laptops
*/

@media only screen and (min-width: 1080px) {
    .contact-form-div{
        width: 100%;
        min-height: 500px;
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        color: var(--font-secondary-color);
        margin-bottom: 20px;
    }

    #contact>h2{
        text-align: center;
        color: var(--font-secondary-color);
    }

    .form-div{
        width: 50%;
        display: block;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ECEFF3;;
        background-color: #fff;
        color: #18191B;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-div input{
        width: 49%;
        background-color: #ccc;
        color: black;
    }

    .form-div textarea{
        width: 99%;
        background-color: #ccc;
    }

    .form-div>form>button{
        padding: 8px;
        width: 99%;
        color: var(--theme-primary-color);
        background-color: #0f0;
    }
}