*{
    padding: 0;
    margin: 0;
}

:root{
    --theme-primary-color: #18191B;
    --theme-secondary-color: #212225;
    --theme-tertiary-color: #450000;
    --font-primary-color: #F8951D;
    --font-secondary-color: #ffffff;
    --font-tertiary-color: #ECEFF3;
    --overlay-theme-color: #F8B742;
}

body{
    background-color: var(--theme-primary-color);
    color: var(--font-secondary-color);
}

button{
    border-radius: 5px;
}

img{
    width: 100%;
    height: 100%;
}

strong{
    color: var(--font-primary-color);
}

span{
    color: var(--font-primary-color);
}

span>i{
    color: var(--font-primary-color);
}

/*
    Below is CSS design for media bigger than 1200px
    mostly desktops and laptops
*/
@media only screen and (min-width: 1080px){    
    .center-fit{
        width: 100%;
        max-height: 100vh;
        margin: auto;
        opacity: 0.6;
    }

    .text-block{
        position: absolute;
        top: 30%;
        left: 35%;
        right: 35%;
        z-index: 1;
        margin: 5px;
        padding: 10px;
        background-color: transparent;
        height: 200px;
        width: 100%;
        color: var(--font-secondary-color);
    }

    .text-block h1{
        text-transform: uppercase;
    }

    .text-block button{
        padding: 10px;
        background-color: transparent;
        margin-left: 10%;
    }

    .describingDesign{
        position: relative;
        min-height: 400px;
    }

    .describing-header{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .describingDesign-img{
        width: 50%;
        position: absolute;
        display: block;
        margin: 1% 6%;
    }

    .describing-img{
        position: absolute;
        height: 300px;
        width: 300px;
        
    }

    .describing-img img{
        object-fit: cover;
    }

    .describing-design{
        position: absolute;
        z-index: -1;
        height: 305px;
        width: 280px;
        top: 3%;
        left: 5%;
        margin: 40px 0;
        border: 10px solid red;
    }

    .describingDesign-text{
        width: 50%;
        margin: auto;
        display: inline-block;
        position: relative;
    }

    .describing-div-box{
        display: inline-block;
        position: absolute;
        height: 150px;
        width: 250px;
    }

    .describing-div-box>i{
        font-size: 23px;
    }
    .row1-box1{
        top: 40px;
        left: 500px;
    }

    .row1-box2{
        top: 40px;
        right: 100px;
    }

    .row2-box1{
        bottom: 50px;
        left: 500px;
    }

    .row2-box2{
        bottom: 50px;
        right: 100px;
    }

    .service{
        width: 100%;
        background-color: var(--theme-secondary-color);
        margin-bottom: 20px;
    }

    .heading-class{
        width: 100%;
        text-align: center;
        margin: 5px;
        padding: 5px
    }

    .heading-services{
        width: 100%;
        text-align: center;
        margin: 5px;
        padding: 5px;
    }

    .service-img-box, .service-text-box{
        width: 100%;
        min-height: 200px;
        padding-bottom: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .service-img{
        height: 300px;
        width: 300px;
        margin-top: 20px;
        padding: 15px;
        border-radius: 10px;
        text-align: justify;
        text-justify: inter-word;
        color: var(--font-secondary-color); 
        box-shadow: 0 4px 8px 0 #ccc;
        background-image: url("../images/gallery-two-300x300.jpg");
        object-fit: cover;
    }

    .service-img>h3{
        text-align: center;
        color: var(--font-secondary-color);
    }

    .service-img>button{
        padding: 5px;
        margin-top: 10px;;
        background-color: transparent;
        width: 100%;
    }

    .service-common{
        background-color: var(--theme-primary-color);
    }

    .service-text{
        width: 250px;
        color: var(--font-secondary-color);
        border: 1px solid #f0f; 
    }

    .service-text>img{
        width: 100%;
        height: 60%;
    }

    .service-container{
        height: 40%;
        padding: 10px;
        text-align: justify;
        text-justify: inter-word;
        word-wrap: break-word; 
        overflow: hidden;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .service-text>h5{
        text-align: left;
        color: var(--font-primary-color);
    }

    .flip-box {
        background-color: transparent;
        width: 100%;
        height: 200px;
        /* border: 1px solid #f1f1f1; */
        perspective: 1000px;
    }
    
    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }
    
    .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    
    .flip-box-front {
        background-color: #bbb;
        color: black;
    }
    
    .flip-box-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
    }


    .projects-common{
        background-color: var(--theme-secondary-color);
        padding-bottom: 50px;
    }

    .heading-projects{
        width: 100%;
        text-align: center;
        margin: 5px;
        padding: 5px;
    }

    #projects{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: minmax(100px, 0);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        width: 90%; 
        margin: auto;
        max-width: 1140px;
    }

    .one{
        grid-column: 1/4;
        grid-row: 1/3;
        box-shadow: 5px 4px #ccc, 5px 6px 5px 0 #ECEFF3;
    }

    .two{
        grid-column: 4/7;
        grid-row: 1/3;
        box-shadow: 5px 4px #ccc, 5px 6px 5px 0 #ECEFF3;
    }

    .three{
        grid-column: 7/10;
        grid-row: 1/3;
        box-shadow: 5px 4px #ccc, 5px 6px 5px 0 #ECEFF3;
    }

    .four{
        grid-column: 1/4;
        grid-row: 3/5;
        box-shadow: 5px 4px #ccc, 5px 6px 5px 0 #ECEFF3;
    }

    .five{
        grid-column: 4/7;
        grid-row: 3/5;
        box-shadow: 5px 4px #ccc, 5px 6px 5px 0 #ECEFF3;
    }

    .six{
        grid-column: 7/10;
        grid-row: 3/5;
        box-shadow: 5px 4px #ccc, 5px 6px 5px 0 #ECEFF3;
    }

    .overlay{
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: var(--overlay-theme-color);;
    }

    .one:hover .overlay {
        opacity: 1;
    }

    .two:hover .overlay {
        opacity: 1;
    }

    .three:hover .overlay {
        opacity: 1;
    }

    .four:hover .overlay {
        opacity: 1;
    }

    .five:hover .overlay {
        opacity: 1;
    }

    .six:hover .overlay {
        opacity: 1;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #about{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 10px;
        color: var(--font-primary-color);
        background-color: var(--theme-primary-color);
    }

    #about-img{
        width: 40%;
    }

    #about-img img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #about-details{
        width: 50%;
        text-align: justify;
        text-justify: inter-word;
        color: var(--font-secondary-color);
    }

    #about-details h3{
        text-align: center;
        color: var(--font-secondary-color);
    }

    /* .contact-form-div{
        width: 100%;
        min-height: 200px;
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        color: var(--font-secondary-color);
        margin-bottom: 20px;
    }

    #contact>h2{
        text-align: center;
        color: var(--font-secondary-color);
    }

    .form-div{
        width: 40%;
        display: block;
        padding: 8px;
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ECEFF3;;
        background-color: #fff;
        color: #18191B;
        text-align: center;
    }

    .form-div input{
        width: 49%;
        background-color: #ccc;
        color: black;
    }

    .form-div textarea{
        width: 99%;
        background-color: #ccc;
    }

    .form-div>form>button{
        padding: 8px;
        width: 99%;
        color: var(--theme-primary-color);
        background-color: #0f0;
    } */
}

/* 
Extra small devices (phones, 600px and down)
*/
@media only screen and (min-width: 600px) {

} 

/* 
Medium devices (landscape tablets, 768px and up) 
*/
@media only screen and (min-width: 768px) {
    
} 