*{
    padding: 0;
    margin: 0;
}

:root{
    --theme-primary-color: #18191B;
    --theme-secondary-color: #212225;
    --theme-tertiary-color: #450000;
    --font-primary-color: #F8951D;
    --font-secondary-color: #ffffff;
    --font-tertiary-color: #ECEFF3;
}

body{
    background-color: var(--theme-primary-color);
    color: var(--font-secondary-color);
}

button{
    border-radius: 5px;
}

img{
    width: 100%;
    height: 100%;
}

strong{
    color: var(--font-primary-color);
}

span{
    color: var(--font-primary-color);
}

span>i{
    color: var(--font-primary-color);
}


/*
    Below is CSS design for media bigger than 1200px
    mostly desktops and laptops
*/

@media only screen and (min-width: 1080px) {

    footer{
        min-width: 100%;
        background-color: var(--theme-secondary-color);
    }
    
    .footer-header{
        text-align: center;
    }
    
    .footer-div{
        margin-top: 5px;
        padding: 8px;
        border-radius: 10px;
        color: var(--font-secondary-color);  
        text-decoration: none;
    }
    
    #footer-contact{
        display: flex;
        flex-flow: nowrap row;
    }
    
    .contact-div{
        text-align: left;
        width: 22%;
        min-height: 100px;
        padding: 10px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }    
    
    .social-wrapper{
        display: flex;
        flex-flow: nowrap row;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    .social-icon{
        height: 43px;
        width: 43px;
        border: 1px solid #ffffff;
        padding: 12px 13px;
        margin: 15px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari */
        transform: rotate(45deg);
    }
    
    .social-icon>span{
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Safari  */
        position: absolute;
        transform: rotate(-45deg);
    }
    
    .social-icon>span>a{    
        color: var(--font-primary-color);
    }
    
    .social-icon>span>a:hover{    
        color: var(--font-tertiary-color);   
    }
    
    #copyright-div{
        text-align: center;
        padding: 8px;
        color: var(--font-secondary-color);  
        text-decoration: none;
        min-width: 100%;
        background-color: var(--theme-primary-color);
    }
}
